.LIST {
    flex: 1;

    .ArticleList {
        &__item {
            margin-bottom: 30px;
        }
    }
}

.TILE {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;

    .ArticleList {
        &__item {
            @supports not (gap: 30px) {
                margin-right: 30px;
                margin-bottom: 30px;
            }
        }
    }
}
