.Select {
    background: none;
    outline: none;
    color: var(--primary-color);
    padding: 2px 10px 2px 2px;
    border: 1px solid var(--primary-color);

    &:hover {
        cursor: pointer;
    }

    > * {
        cursor: pointer;
    }

    &__wrapper {
        display: flex;
    }

    &__label {
        margin-right: 5px;
    }

    &__option {
        color: var(--inverted-primary-color);
        background-color: var(--inverted-bg-color);
    }

    &__readonly:hover {
        cursor: auto;
    }
}
